<!DOCTYPE html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/login-register.css') }}">
</head>
<body>
    <main>
        <nav>
            <h1>Movie Finder</h1>
        </nav>
        <div id="main-content">
            <div id="modal-area">
                <form method="POST" id="left-pane">
                <!-- <div id="left-pane"> -->
                    <h1>Login: </h1>
                    <!-- Flashes will occur here -->
                    {% if error %}
                        <p class="error-message">{{ error }}</p>
                    {% endif %}
                    <div class="left-right-div">
                        <label for="uname">Username: </label>
                        <input type="text" name="uname" id="uname" placeholder="" maxlength="14">
                    </div>
                    <div class="left-right-div">
                        <label for="uname">Password: </label>
                        <input type="password" name="password" id="password" placeholder="" maxlength="14">
                    </div>
                    <button type="submit">Login</button>
                    <p>Don't have an account? Navigate to the registration page <a href="/register">here!</a></p>
                <!-- </div> -->
                </form>
                <div id="right-pane">
                </div>
            </div>
        </div>
    </main>
</body>